body {
    background-color: black;
    min-height: 7000px;
    height: unset;
    color: white;
    display: flex;
    flex-direction: row;
}

button {
    background-color: antiquewhite;
    color:black;
}

#app {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

